
*{
background-color: #00FFFF;
}

#welcome{
    text-align: center;
    color:midnightblue;
}


#input-field{
    justify-self: center;
    width: 40%;
    justify-content: space-between;
    display:flex;

    margin-bottom: 8vh;
}
#input-label{
    font-size: 30px;
}
#input-box{
    width: 400px;
}








@media(max-width:768px){
    form{
        flex-wrap: column;
    }
    .input-field{
        width:90%
    }
}